@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* common css */
:root {
  font-family: "Inter", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  line-height: 22px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  background-color: #000;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

/* header */
.headerMain {
  background-color: #202C33;
  color: #fff;
  margin: 0px;
  height: fit-content;
  width: 100vw;
  position: fixed;
  top: 0rem;
  left: 0rem;

  section {
    display: flex;
    gap: 5px;
    align-items: center;

    #userProfile {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
    }

    .user-meta {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 1rem;

      #userDetail {
        margin: 0px;
        font-size: 1.3rem;

        #userName {
          font-weight: 600;
          margin-bottom: 0.3rem;
        }

        #sendDIv {
          font-size: 1rem;
          color: #ccc;

          #lastSeen {
            font-weight: 500;
          }
        }
      }

      .header-icons {
        display: flex;
        gap: 20px;
        font-size: 1.4rem;

        i {
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }

        i:hover {
          transform: translateY(-4px);
          color: #ccc;
        }
      }
    }
  }
}

/* mainBody */
.mainBody {
  background: url('./assets/mainBodyBg.webp');
  background-position: center;
  min-height: fit-content;
  max-height: fit-content;
  width: 100vw;
  color: #fff;
  margin-top: 5rem;
  padding: 2rem 0rem 6rem 0rem;

  /* automatic message UI */
  #mainMessageHead {
    height: fit-content;
    width: 40%;
    margin-left: 2rem;

    #mainMessageBody {
      background-color: #202C33;
      padding: 0.4rem 1rem;
      color: #fff;
      border-radius: 0.8rem;
      border-bottom-right-radius: 0rem;

      #name {
        color: #DAA520;
        transition: all 0.2s ease-in-out;
        font-size: 1.1rem;

        &:hover {
          color: green;
        }
      }
    }
  }

  /* user message UI */
  #userMessage {
    background-color: #005C4B;
    height: fit-content;
    /* min-width: 10%; */
    max-width: fit-content;
    padding: 0.4rem 1rem;
    border-radius: 0.8rem;
    border-bottom-left-radius: 0rem;
    margin: 1rem 2rem 2rem auto;
  }
}

.solidColorCadetblue {
  background: cadetblue;
}

.solidColorBurlywood {
  background: burlywood;
}

.solidColorChocolate {
  background: chocolate;
}

.solidColorCornflowerblue {
  background: cornflowerblue;
}

.imageBackgroundImg0 {
  background: url('./assets/mainBodyBg.webp');
}

.imageBackgroundImg1 {
  background: url('./assets/imageBackgroundImage1.jpeg');
}

.imageBackgroundImg2 {
  background: url('./assets/imageBackgroundImage2.jpeg');
}

.imageBackgroundImg3 {
  background: url('./assets/imageBackgroundImage3.jpeg');
}

/* footer */
.footer {
  background-color: #202C33;
  margin: 0px !important;
  width: 100vw;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  input {
    background-color: #2A3942;
    outline: none;
    color: #fff;
    border: none;
    width: 30rem;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
  }

  /* #sendIcon { */
  /* width: fit-content; */
  /* display: inline-block; */
  /* cursor: not-allowed; */

  i {
    /* pointer-events: none; */
    color: #ccc;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

/* } */
#currentTime {
  font-size: 0.8rem;
  width: fit-content;
  margin: 0px 0px 0px auto;
  color: #94bab3;
  font-weight: 700;
}

.keywords {
  color: #daa520d2;
  font-weight: 900;
  font-size: 1.1rem;
}

.contactReply {
  /* display: flex; */
  /* flex-wrap: nowrap; */

  /* .col-6 {
    width: 50%;
  } */

  .col-12 {
    width: 100%;
  }

  a {
    display: block;
    background-color: #94bab3;
    border-radius: 1.3rem;
    margin: 1.3rem auto;
    padding: 0.69rem 0rem;
    width: 65%;
    text-align: center;
    font-size: 1.4rem;
    color: #000;
    transition: all 0.2s ease-in-out;
  }

  #linkedIn:hover,
  #phone:hover {
    background-color: #1469C7;
    color: #fff;
  }

  #email:hover {
    background-color: #B14237;
    color: #fff;
  }

  #github:hover {
    background-color: #32373D;
    color: #fff;
  }

  #whatsApp:hover {
    color: #fff;
    background-color: #2cd46cb8;
  }

}

.projectReply {

  li {
    margin-top: 1.7rem;
  }

  .projectTitle {
    color: #00BFFF;
  }

  .projectTech {
    color: #999999;
  }

  .linkParent {
    display: flex;
    gap: 1.1rem;

    .liveDemoLink {
      color: #34D399;
    }

    .githubRepo {
      color: #A855F7;
    }

    a {
      span {
        margin-left: 5px;
      }
    }
  }


  #github {
    background-color: #94bab3;
    border-radius: 0.7rem;
    padding: 0.3rem 1rem;
    font-size: 1.4rem;
    color: #000;
    transition: all 0.2s ease-in-out;
  }

  #github:hover {
    background-color: #32373D;
    color: #fff;
  }
}

.settings {
  height: 80vh;
  width: 70vw;
  background-color: #ccc;
  border-radius: 1.1rem;
  position: fixed;
  display: block;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  visibility: visible;
  opacity: 1;
  color: #202C33;
  padding: 0rem 1.3rem;
  transition: all 3s ease-in-out;
  z-index: 2;

  #title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    i {
      font-size: 1.6rem;
      transition: all 0.2s ease-in-out;
    }

    &:hover i {
      transform: scale(1.2) rotate(180deg);

    }

  }

  #functionalityHead {
    display: flex;
    align-items: center;
    gap: 5rem;

    #deleteChat,
    #toggleTheme {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      width: 50%;

      i {
        font-size: 1.4rem;
        transition: all 0.2s ease-in-out;
      }

      &:hover i {
        transform: scale(1.2) translateY(-5px);
      }
    }

  }

  #chatBackground {
    font-size: 1.1rem;

    .solidColoBody {
      display: flex;
      justify-content: space-between;

      .colorBox {
        cursor: pointer;
        height: 60px;
        width: 20%;
        background-color: #000;
        border-radius: 0.6rem;
        overflow: hidden;
        border: 2px solid #CCCCCC;

        &:hover {
          border: 2px solid rebeccapurple;
        }
      }
    }
  }
}

.hideSetting {
  transform: translateX(-50%) scale(0);
  visibility: hidden;
  opacity: 0;
  display: none;
}

.settingsOverflow {
  overflow: hidden;
}